:root{
    --bodyBg: #1e1e1e;
    --bodyTxt: #fff;
    --bodyTxt2: #ccc;


}

body{
    background-color: var(--bodyBg);
    color: var(--bodyTxt);
}

.logo_anim_container{
    width: 100%;
    margin: 0 auto;
}


.success_anim_container{
    width: 230px;
    margin: 0 auto;
}